* {
  margin: o;
  padding: o;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #1a1924;
  color: #fff;
}

body * {
  border: 1px solid red;
}
#app {
  padding: 1.5rem 2rem;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 57.5rem) {
}
